@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');
.main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden !important;

  font-family: 'Josefin Sans' !important;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.6)),
    url('https://source.unsplash.com/1600x900/?endsars');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  position: relative;
}

.content {
  box-sizing: border-box;
  width: 70%;
  text-align: center;
}

.content .logo {
  box-sizing: border-box;
  width: 13%;
  position: absolute;
  top: 1rem;
  left: 2vw;
}

.content h1 {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: 'Josefin Sans';
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
}

.content h2 {
  box-sizing: border-box;
  position: relative;
  top: -40px;
  font-weight: 200;
}
.content h4 {
  box-sizing: border-box;
  position: relative;
  top: -30px;
  font-weight: 200;
  font-size: 2rem;
}

.content .social_icons {
  box-sizing: border-box;
  position: fixed;
  right: 4vw;
  bottom: 2vh;
}

.content .social_icons:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #f7f7f7;
  position: absolute;
  top: -100%;
}

.content .social_icons a {
  margin: 10px 0px;
  color: #f7f7f7;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.5s;
}

.content .social_icons a:hover {
  color: #2ae267;
}

.arrow {
  text-align: center;
  margin: 0;
  font-weight: 700;
}
.arrow .fa {
  color: #f7f7f7;
  font-weight: 200;
  text-decoration: none;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content .button {
  position: relative;
  top: -10px;
  box-sizing: border-box;
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 40px;
  padding: 5px 10px;
  display: flex;
}

.searchButton {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: 0;

  font-style: normal !important;
  font-family: 'Josefin Sans';

  text-align: center;
  border: none;
  /* border-image: linear-gradient(#fc5c7d, #6a82fb) 1; */
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.searchButton:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.searchButton:hover {
  outline: none;
}

.connectButton {
  background-image: linear-gradient(
    to right,
    #187ba5,
    #0eb162,
    #158850,
    #175f3c
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.mintButton {
  background-image: linear-gradient(
    to right,
    #b48c1b,
    #e43603,
    #e71856,
    #91350b
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.description {
  font-size: 1.5rem;
}

@media screen and (max-width: 1020px) {
  .content h4 {
    font-size: 1rem;
  }
  /* ================================= */
  .description {
    font-size: 1rem;
  }

  .content {
    width: 100%;
    padding: 1rem;
  }
  .content .logo {
    width: 20%;
  }
  .content h1 {
    font-size: 1.5em;
    margin-top: 0;
  }
  .content h2 {
    position: relative;
    top: -10px;
  }
  .content h4 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .searchButton {
    color: white;
    font-size: 0.5rem;
  }
  /* ================================= */
}

@media screen and (max-width: 820px) {
  .description {
    font-size: 1rem;
  }

  .content {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  .content .logo {
    width: 20%;
  }
  .content h1 {
    font-size: 1.5em;
    margin-bottom: 2px;
  }
  .content h2 {
    position: relative;
    top: -10px;
  }
  .content h4 {
    font-size: 1rem;
  }
  .content .social_icons {
    position: absolute;
    width: 100%;
    right: 0vw;
    bottom: 1vh;
    display: flex;
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
  }

  .content .social_icons a {
    margin: 0 15px;
  }

  .content .social_icons:before {
    content: '';
    width: 0px;
    height: 0%;
    top: 00%;
  }
  .searchButton {
    color: white;
    font-size: 1rem;
  }
}
